//@import 'imports';
.app-btn{
    @include btn(1);
}
.app-btn-2{
    @include btn(2);
}
.app-btn-back{
    @include btn(2);
}

.app-btn-link{
    @include btn(3);
    
}

.app-li-h{
    @include list(1,5px,0px);
}
.app-li-h2{
    @include list(1,0px,0px);
}

.mar-lf-10{
    margin-left:10px;
}

.app-btn-form{
    width: 100%;
    border-radius: 0px!important;
    padding: 10px;
}


.remove-li{
    >li{
        list-style: none;
    }
    
}