@mixin mo($val){
    @if($val== 1){
        direction: rtl;
    }
    @else{
        direction: ltr;
    }
}

.class{
    @include mo(2);
}
$font:10;
.class-parent{
    font-size:$font;
    
    .class-child{
        background-color: #000;
        span.mo#mo{
            color:#fff;
        }
    }
}