@mixin btn($val) {
    @if($val == 1){
        border: 1px solid $main-color;
        color:$main-color;
        &:hover{
            background-color: $main-color; 
            color: $font-color-i;
        }
    }
    @if($val == 2){
        background-color: $main-color; 
        color: $font-color-i;
        &:hover{
            border: 1px double $main-color;
            background-color: $font-color-i; 
            color: $main-color;
        }
    }
    
}