@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Cairo");
/*
    @ this mixin reset margin and padding
*/
.app-btn {
  border: 1px solid #38c172;
  color: #38c172; }
  .app-btn:hover {
    background-color: #38c172;
    color: #fff; }

.app-btn-back {
  background-color: #38c172;
  color: #fff; }
  .app-btn-back:hover {
    border: 1px double #38c172;
    background-color: #fff;
    color: #38c172; }

.app-li-h {
  margin-left: 5px;
  margin-right: 0px;
  text-align: right;
  list-style: none;
  float: right; }
  .app-li-h > li {
    display: inline-block;
    cursor: pointer;
    transition: 0.1s all ease-in-out; }
    .app-li-h > li:hover {
      color: #38c172;
      transition: 0.1s all ease-in-out; }

.app-li-h2 {
  margin-left: 0px;
  margin-right: 0px;
  text-align: right;
  list-style: none;
  float: right; }
  .app-li-h2 > li {
    display: inline-block;
    cursor: pointer;
    transition: 0.1s all ease-in-out; }
    .app-li-h2 > li:hover {
      color: #38c172;
      transition: 0.1s all ease-in-out; }

.mar-lf-10 {
  margin-left: 10px; }

.app-btn-form {
  width: 100%;
  border-radius: 0px !important;
  padding: 10px; }

p {
  margin: 0px !important;
  padding: 0px !important; }

div.con {
  margin: 10px 0px; }
  div.con > div {
    display: inline-flex; }

nav.navbar {
  padding-top: 20px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.04);
  background-color: #161616;
  color: #fff;
  font-size: 14px; }
  nav.navbar div.logo-body {
    font-size: 18px;
    text-align: right; }
    nav.navbar div.logo-body .she3ar {
      font-size: 30px; }
  nav.navbar .brand {
    font-size: 30px; }
  nav.navbar .lux {
    margin-right: 200px; }
    nav.navbar .lux ul {
      margin-left: 10px;
      border-left: 2px solid #ccc; }
    nav.navbar .lux ul > li {
      padding-left: 6px; }
  nav.navbar .services {
    font-size: 18px; }
    nav.navbar .services .services-content > li {
      padding-left: 10px; }

.login {
  width: 30vw;
  margin: auto;
  direction: rtl !important;
  text-align: right;
  box-shadow: 0px 0px 10px #38c172;
  border-radius: 10px 10px 0px 0px;
  margin-top: 40px;
  opacity: 0.8;
  background-color: #eee; }
  .login .margin {
    padding: 30px 30px 0px 30px; }
  .login .con-icon {
    width: 100%;
    display: inline-flex; }
    .login .con-icon .ico {
      color: #fff;
      background-color: #38c172;
      padding: 10px; }

.spe {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold; }

/*
    @ this mixin reset margin and padding
*/
.app-btn {
  border: 1px solid #38c172;
  color: #38c172; }
  .app-btn:hover {
    background-color: #38c172;
    color: #fff; }

.app-btn-back {
  background-color: #38c172;
  color: #fff; }
  .app-btn-back:hover {
    border: 1px double #38c172;
    background-color: #fff;
    color: #38c172; }

.app-li-h {
  margin-left: 5px;
  margin-right: 0px;
  text-align: right;
  list-style: none;
  float: right; }
  .app-li-h > li {
    display: inline-block;
    cursor: pointer;
    transition: 0.1s all ease-in-out; }
    .app-li-h > li:hover {
      color: #38c172;
      transition: 0.1s all ease-in-out; }

.app-li-h2 {
  margin-left: 0px;
  margin-right: 0px;
  text-align: right;
  list-style: none;
  float: right; }
  .app-li-h2 > li {
    display: inline-block;
    cursor: pointer;
    transition: 0.1s all ease-in-out; }
    .app-li-h2 > li:hover {
      color: #38c172;
      transition: 0.1s all ease-in-out; }

.mar-lf-10 {
  margin-left: 10px; }

.app-btn-form {
  width: 100%;
  border-radius: 0px !important;
  padding: 10px; }

* {
  font-family: 'Cairo', sans-serif;
  direction: rtl !important;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  background-color: #99f; }
